spring:
  application:
    name: licensing-portal
  
  datasource:
    url: jdbc:postgresql://localhost:5432/licensing_portal
    username: valeriy.izvekov
    password:
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC
  
  mail:
    host: smtp.office365.com
    port: 587
    username: YOUR_EMAIL_HERE
    password: YOUR_PASSWORD_HERE
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8081

jwt:
  secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A7134743777217A25432A462D4A614E635266556A586E3272357538782F413F4428472B4B
  expiration: 86400000 # 24 hours in milliseconds

logging:
  level:
    com.licensing.portal: DEBUG
    org.springframework.security: DEBUG
